@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --block-bg-color: rgb(21, 21, 21);
    --accent-color: rgb(38, 38, 38);
}

*{
    box-sizing: border-box;
}

body{
    background-color: var(--accent-color);
    color: white;
    font-family: montserrat;
}

h1 {
    text-align: center;
}

h2{
    margin: 10px;
}

a{
    color: white;
}

a:hover{
    color: gray;
}

a:visited{
    color: white;
}

.block{
    background-color: var(--block-bg-color);
    padding: 20px;
    width: fit-content;
    display: block;
    margin: auto;
    border-radius: 30px;
}



.checkbox{
    width: 50px;
    height: 50px;
    color: aqua;
    background-color: black;
    border-radius: 50px;
    display: flex;
    accent-color: #3a69b4;
}

form{
    background-color: var(--block-bg-color);
}

input[type = "text"]
{
    display: block;
    width: 100%;
    height: 400px;
    padding-bottom: 85%;
    background-color: inherit;
    color: inherit;
    border-radius: 20px;
    border-style: solid;
}

input[type = "number"]
{
    display: inline-block;
    margin-right: 10px;
    width: 2em;
    height: 2em;
    background-color: inherit;
    color: inherit;
    border: 1px solid;
    border-color: var(--accent-color);
}

button
{
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 50%;
    border-radius: 50px;
    height: 2em;
    background-color: var(--accent-color);
    color: inherit;
    border: none;
}

.maxChecked
{
    background-color: inherit;
    color: inherit;
}

.group{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.under{
    text-align: center;
    padding: 10px;
}